<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.login.MemberLoginMapper">
    <select id="login">
        SELECT `id`, `name`, `status` FROM tbl_member
        WHERE id = #{id}
        AND password = SHA2(#{password}, 256)
    </select>
    <insert id="register">
        INSERT INTO tbl_member(`id`, `password`, `name`, `birth`, `email`, `grade`, `gender`)
        VALUES(#{id},SHA2(#{password},256), #{name},#{birth},#{email},#{grade},#{gender})
    </insert>
    <select id="registerIdCheck">
        select id, name
        from tbl_member
        where id = #{id}
    </select>
</mapper>
    