@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'KakaoSmallSans-Bold';
}
a {
    display:block;
    text-decoration: none;
    color:#222222;
}
ul li {
    list-style-type:none;
}

@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.select {
    background-color:#607ffc;
    color:#fff;
}

.wrap {
    margin: 0 auto;
    width:85%; height:550px;
    padding:0 10%;
    margin-top: 35px;
}
.aside {
    float: left;
    width:20%; height:400px;
    margin-right: 20px;
}
.profile {
    width:100%; height:70px;
    background-color: #f3f3f3;
    border-radius: 6px;
    margin-bottom: 15px;
}
.myInfo {
    width:100%; height:80px;
    padding: 15px;
}
.myInfo > p {
    margin-bottom: 5px;
}
.myInfo > h2 {
    font-size:18px;
}
.logoutBtn {
    display: flex;
    justify-content: center;
    width:100%; height:20px;
    padding:0 15px;
    gap:15px;
    font-size:14px;
}
.logoutBtn > a:hover {
    color:#607ffc;
}
.sideMenuTitle {
    width:100%; height:40px;
    text-align: center;
    font-size:16px;
    line-height:38px;
    background-color: #adbbf8;
    border-radius: 6px 6px 0 0;
    color:#333;
}
.sideMenu {
    width:100%; height:280px;
    background-color: #f3f3f3;
    border-radius: 6px;
    margin-bottom: 15px;
}
.sideMenu > a {
    width:100%; height:40px;
    text-align: center;
    line-height:38px;
    font-size:13px;
}
.sideMenu > a:hover {
    background-color:#607ffc;
    color:#fff;
}
.main {
    float: left;
    margin: 0 auto;
    width:calc(80% - 20px); height:400px;
}
    .writeTit {
        padding:0 20px;
        width:100%; height:50px;
        border-bottom: 2px solid #d6d6d6b3;
        margin-bottom: 20px;
    }
        .writeTit > h2 {
            float: left;
            width:20%; height:100%;
            line-height:48px;
            font-size:19px;
        }
        .writeTit > p {
            float:left;
            width:40%; height:100%;
            line-height:58px;
            font-size:14px;
        }
    .formBox {
        width:100%;
    }
        .boardTitle {
            width:100%; height:50px;
            margin-bottom: 10px;
        }
            .boardTitle > p {
                width: 100%;
                height: 100%;
                line-height: 48px;
                font-size: 23px;
                padding: 0 15px;
                color: #333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        .formHead {
            display: flex;
            width:100%; height:30px;
            gap:15px;
            padding: 0 15px;
            font-size:14px;
            border-bottom: 2px solid #d6d6d6b3;
            margin-bottom: 25px;
        }
        .boardCont {
            width:100%; height:300px;
            margin-bottom: 25px;
        }
            .boardCont > p {
                width:100%; height:100%;
                font-size:16px;
                padding:15px;
                color:#333;
            }

        .boardFile, .boardImage {
            width:100%;
        }
        .boardImg {
            display: flex;
            width:100%; height:40px;
            margin-bottom: 15px;
        }
            .boardImg > p {
                width:15%; height:100%;
                line-height:38px;
                padding: 0 15px;
            }
            .boardImg > input {
                display: flex;
                align-items: center;
                justify-content: center;
                width:85%; height:100%;
                border: 3px solid #d6d6d6b3;
                padding: 4px;
            }
            .boardImg > input:focus {
                border: 3px solid #607ffc;
                outline: none;
            }
        .formBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%; height:40px;
            gap: 15px;
        }
        .endBtn {
            width:130px; height:40px;
            border: 3px solid #d6d6d6b3;
            border-radius: 5px;
            color:#333;
            font-size:14px;
        }
            .endBtn:hover {
                background-color: #607ffc;
                color:#fff;
            }
