<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssanai.jumplearn.mapper.BbsMapper">
    <sql id="whereCondition">
        <where>
            <if test="search_category != null ">
                <if test="search_category == 'title'.toString()">
                    title like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'content'.toString()">
                    content like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'admin_id'.toString()">
                    userId like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'created_at'">
                    <![CDATA[
                    created_at BETWEEN #{search_date_from} AND #{search_date_to}
                    ]]>
                </if>

            </if>
        </where>
    </sql>

    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as total_count
        FROM tbl_edu
        <include refid="whereCondition"></include>
    </select>

    <select id="listAll">
        SELECT `id`, `title`,`content`,`created_at`,`updated_at`,`view_count`,`admin_id`
        FROM tbl_edu
        <include refid="whereCondition"></include>
        ORDER BY id DESC
        Limit #{page_skip_count} , #{page_size}
        <!--TODO Order by 추후 추가 필요 -->
    </select>

    <select id="selectOne" parameterType="int" resultType="com.ssanai.jumplearn.vo.BbsDefaultVO">
        SELECT `id`, `title`,`content`,`created_at`,`updated_at`,`view_count`,`admin_id`
        FROM tbl_edu
        WHERE `id` = #{id}
    </select>

    <insert id="insert" >
        INSERT INTO tbl_edu (
            `admin_id`, `title` , `content`, `created_at`,`updated_at`
        ) VALUES (
            #{admin_id}, #{title}, #{content}, NOW(), NOW()
        );
    </insert>

    <update id="update">
        UPDATE tbl_edu
        SET `title`=#{title}, `content`=#{content},`updated_at`= NOW()
        WHERE `id` = #{id}
    </update>


    <delete id="delete">
        DELETE FROM tbl_edu
        WHERE `id` = #{id}
    </delete>

    <select id="searchList">
        SELECT `id`, `title`,`content`,`created_at`,`updated_at`,`view_count`,`admin_id`
        FROM tbl_edu
        <include refid="whereCondition"></include>
    </select>


</mapper>
