.form-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label,
.form-container input,
.form-container a,
.form-container button {
    margin: 10px 0;
}

.form-container input,
.form-container button {
    padding: 8px;
    font-size: 1rem;
}

.center-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}
.center-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.center-button {
    background-color: darkolivegreen;
    color: whitesmoke;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}