@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'KakaoSmallSans-Bold';
}
a {
    display:block;
    text-decoration: none;
    color:#222222;
}
ul li {
    list-style-type:none;
}

@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}  

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.select {
    background-color:#607ffc;
    color:#fff;
}

.wrap {
    width:100%; height:550px;
    padding:0 15%;
    margin-top: 35px;
}
.aside {
    float: left;
    width:15%; height:400px;
    margin-right: 20px;
}
    .profile {
        width:100%; height:100px;
        background-color: #f3f3f3;
        border-radius: 6px;
        margin-bottom: 15px;
    }
        .myInfo {
            width:100%; height:80px;
            padding: 15px;
        }
            .myInfo > p {
                margin-bottom: 5px;
            }
            .myInfo > h2 {
                font-size:18px;
            }
        .logoutBtn {
            display: flex;
            justify-content: center;
            width:100%; height:20px;
            padding:0 15px;
            gap:15px;
            font-size:14px;
        }
        .logoutBtn > a:hover {
            color:#607ffc;
        }
        .sideMenuTitle {
            width:100%; height:40px;
            text-align: center;
            font-size:20px;
            line-height:38px;
            background-color: #adbbf8;
            border-radius: 6px 6px 0 0;
            color:#333;
        }
    .sideMenu {
        width:100%; height:280px;
        background-color: #f3f3f3;
        border-radius: 6px;
        margin-bottom: 15px;
    }
        .sideMenu > a {
            width:100%; height:40px;
            text-align: center;
            line-height:38px;
            font-size:16px;
        }
        .sideMenu > a:hover {
            background-color:#607ffc;
            color:#fff;
        }
.main {
    float: left;
    margin: 0 auto;
    width:calc(85% - 20px); height:400px;
}
    .writeTit {
        padding:0 20px;
        width:100%; height:50px;
        border-bottom: 2px solid #d6d6d6b3;
        margin-bottom: 20px;
    }
        .writeTit > h2 {
            float: left;
            width:10%; height:100%;
            line-height:48px;
            font-size:19px;
        }
        .writeTit > p {
            float:left;
            width:40%; height:100%;
            line-height:58px;
            font-size:14px;
        }
        .wtBtn {
            display: flex;
            justify-content: end;
            align-items: center;
            width:50%;
            height:100%;
        }
            .wtBtn > a {
                display: block;
                width:100px;
                height:30px;
                background-color: #d6d6d6b3;
                border: 0.5px solid #a0a0a0b3;
                color:#838383;
                text-align: center;
                line-height:28px;
                font-size:12px;
                font-weight:100;
                border-radius: 2px;
                
            }
        .wtBtn > a:hover {
            background-color: #bbbbbbb3;
        }
    .searchInput {
        width:100%; height:50px;
        margin-bottom: 20px;
    }
        .siReset {
            padding-left: 15px;
            display: flex;
            align-items: center;
            float: left;
            width:50%; height:50px;
        }
        .siReset > input {
            display: block;
            width:100px;
            height:30px;
            border: 0.5px solid #a0a0a0b3;
            color:#838383;
            text-align: center;
            line-height:28px;
            font-size:12px;
            border-radius: 4px;
        }
            .siReset > input:hover {
                background-color:#607ffc;
                color:#fff;
            }
        .searchBoxs {
            float: left;
            display: flex;
            align-items: center;
            gap:10px;
            width:50%; height:100%;
            padding-right: 20px;
        }
            .selectOption {
                width:50px; height:25px;
                border: 0.5px solid #a0a0a0b3;
                color:#838383;
                font-size:12px;
                border-radius: 4px;
            }
            .search_in {
                width:250px; height:30px;
                border: 0.5px solid #a0a0a0b3;
                color:#838383;
                font-size:12px;
                border-radius: 4px;
                padding-left: 10px;
            }
            .search_in:focus {
                border: 3px solid #607ffc;
                outline: none;
            }
            .searchDate {
                display: flex;
                width:220px; height:30px;
            }
                .searchDate > p {
                    width:20px; height:30px;
                    text-align: center;
                    line-height:28px;
                }
                .searchDate > input {
                    width:100px; height:30px;
                    border-radius: 4px;
                    border: 0.5px solid #a0a0a0b3;
                    padding-left: 10px;
                }
                .searchDate > input:focus {
                    border: 3px solid #607ffc;
                    outline: none;
                }
            .search_btn {
                width:60px; height:30px;
                border: 0.5px solid #a0a0a0b3;
                color:#838383;
                border-radius: 4px;
            }
            .search_btn:hover {
                background-color:#607ffc;
                color:#fff;
            }
    .writeList {
        width:100%; height:400px;
        padding: 0 15px;
        margin-bottom: 10px;
    }
        .wlHeader {
            width:100%; height:40px;
            border-bottom: 1px solid #ddd;
            background: #fafafa;
            color: #434a59;
        }
        .wlBody {
            width:100%; height:40px;
            border-bottom: 1px solid #ddd;
            background: #fff;
            color: #434a59;
        }
            .listCk {
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                width:40px; height:40px;
                text-align: center;
                line-height:38px;
                font-size:14px;
            }
                .listCkbox {
                    float: left;
                    width:15px; height:15px;
                }
            .listNo {
                float: left;
                width:85px; height:40px;
                text-align: center;
                line-height:38px;
                font-size:14px;
            }
            .listTit {
                float: left;
                width:40%; height:40px;
                text-align: center;
                line-height:38px;
                font-size:14px;
                overflow:hidden;
                text-overflow:ellipsis;
            }
                .listTit > a:hover {
                    color:#607ffc;
                }
            .listName {
                float: left;
                width:10%; height:40px;
                text-align: center;
                line-height:38px;
                font-size:14px;
            }
            .listDate {
                float: left;
                width:250px; height:40px;
                text-align: center;
                line-height:38px;
                font-size:14px;
            }
            .listCnt {
                float: left;
                width:10%; height:40px;
                text-align: center;
                line-height:38px;
                font-size:14px;
            }
            .listDelBtnBox {
                display: flex;
                align-items: center;
                justify-content: center;
                height:40px;
            }
                .listDelBtn {
                    float: left;
                    width:58px; height:30px;
                    text-align: center;
                    line-height:28px;
                    font-size:14px;
                    border:0;
                    color:#333;
                }
                    .listDelBtn:hover {
                        background-color:#607ffc;
                        color:#fff;
                    }
        
        .pagingBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%; height:30px;
            font-size:14px;
        }
        .pagingBox > a:hover {
            color:#607ffc;
        }