@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'KakaoSmallSans-Bold';
}
a {
    display:block;
    text-decoration: none;
    color:#222222;
}
@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #e3e3e3;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header {
    margin: 0 auto;
    width:40%; height:230px;
}
    .header > img {
        width:100%; height:180px;
    }
    .header > p {
        width:100%; height:50px;
        text-align: center;
        line-height:48px;
        font-size:23px;
        color:#333;
    }
.wrap {
    margin: 0 auto;
    width:30%;
    background-color: #fff;
    border:3px solid #C1C1C1B3;
    border-radius:15px;
    padding: 15px;
}
    .boardTitle, .boardImg  {
        display: flex;
        width:100%; height:40px;
        margin-bottom: 20px;
    }
    .boardCont {
        display: flex;
        width:100%; height:250px;
        margin-bottom: 20px;
    }
    .boardTitle > p {
        flex:20%;
        text-align: center;
        line-height:38px;
    }
    .boardTitle > input {
        flex:80%;
        border:3px solid #d6d6d6b3;
        padding-left: 15px;
        border-radius:5px;
    }
    .boardTitle > input:focus {
        outline: none;
        border:3px solid #607ffc;
    }
    .boardCont > p {
        flex:20%;
        text-align: center;
        line-height:38px;
    }
    .boardCont > textarea {
        flex:80%; height:250px;
        border:3px solid #d6d6d6b3;
        padding: 5px;
        border-radius:5px;
        resize: none;
    }
    .boardCont > textarea:focus {
        outline: none;
        border:3px solid #607ffc;
    }
    .error {
        width:20%; height:30px;
        color:#ff0000;
        font-size:10px;
        line-height:28px;
        text-align: center;
    }
    .boardImg > p {
        flex:20%;
        text-align: center;
        line-height:38px;
    }
    .boardImg > input {
        display: flex;
        align-items: center;
        flex:80%; height:100%;
        border:3px solid #d6d6d6b3;
        padding: 5px;
        border-radius:5px;
    }

    .formBtn {
        display: flex;
        width:100%; height:30px;
        justify-content: center;
        gap:15px;
    }
    .formBtn > input {
        width:130px;
        background-color: #f3f3f3;
        border:3px solid #d6d6d6b3;
        color:#333;
        border-radius: 5px;
    }
    .endBtn:hover {
        color:#fff;
        background-color:#607ffc;
    }