<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.admin.InquiryListMapper">
    <sql id="whereCondition">
        <where>
            <if test="search_category != null ">
                <if test="search_category == 'member_id'.toString()">
                    member_id like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'inquiry_status'.toString()">
                    inquiry_status like concat('%', #{search_word}, '%')
                </if>
            </if>
        </where>
    </sql>
    <select id="searchList">
        select id as inquiry_id,member_id, title as inquiry_title, created_at as inquiry_created_at, inquiry_status
        from tbl_inquiry
        <include refid="whereCondition"></include>
        order by id desc
        limit #{page_skip_count}, #{page_size}
    </select>
    <select id="inquiryTotalCount">
        select count(*) from tbl_inquiry
        <include refid="whereCondition"></include>
    </select>
    <delete id="inquiryDelete">
        delete from tbl_inquiry
        where id = #{inquiry_id}
    </delete>
    <insert id="inquiryResolution">
        insert into tbl_inquiry_resolution(inquiry_id,admin_id,content)
        values(#{inquiry_id}, #{admin_id}, #{resolution_content})
    </insert>
    <select id="inquiryDetail">
        SELECT
        i.id AS inquiry_id,
        i.member_id AS member_id,
        i.title AS inquiry_title,
        i.content AS inquiry_content,
        i.created_at AS inquiry_created_at,
        i.updated_at AS inquiry_updated_at,
        i.visibility AS inquiry_visibility,
        i.inquiry_status AS inquiry_status,
        r.id AS resolution_id,
        r.admin_id AS admin_id,
        r.content AS resolution_content,
        r.created_at AS resolution_created_at,
        r.updated_at AS resolution_updated_at
        FROM tbl_inquiry AS i
        LEFT JOIN tbl_inquiry_resolution AS r ON i.id = r.inquiry_id
        WHERE i.id=#{id};
    </select>
    <select id="inquiryCommnetDetail">
        select
        commenter AS inquiry_commenter,
        comment_id_type AS inquiry_comment_id_type,
        content AS inquiry_comment_content,
        created_at AS inquiry_comment_created_at,
        updated_at AS inquiry_comment_updated_at
        FROM tbl_inquiry_comment
        WHERE inquiry_id =#{id}
    </select>
    <insert id="inquiryCommentInsert">
        insert into tbl_inquiry_comment(inquiry_id,commenter,comment_id_type,content)
        values(#{inquiry_id},#{admin_id},"tbl_admin", #{resolution_content})
    </insert>
    <update id="inquiryResponseComplete">
        UPDATE tbl_inquiry
        SET inquiry_status = "completed"
        WHERE id = #{id};
    </update>
</mapper>
    