<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.admin.MemberListMapper">
    <!--멤버 리스트-->
    <select id="memberList">
        select id,name,status,email,gender
        from tbl_member
    </select>
    <!-- 멤버 총 회원수-->
    <select id="memberTotalCount">
            select count(*) AS total_count
            from tbl_member
            <include refid="whereCondition"></include>
    </select>
    <!-- 멤버 삭제-->
    <delete id="memberDelete">
        delete from tbl_member
        where id = #{id}
    </delete>
    <!-- 멤버 상태 변경 1 -> 2 -->
    <update id="memberChange">
        UPDATE tbl_member
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <sql id="whereCondition">
        <where>
            <if test="search_category != null ">
                <if test="search_category == 'id'.toString()">
                    id like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'name'.toString()">
                    name like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'status'.toString()">
                    status like concat('%', #{search_word}, '%')
                </if>
            </if>
        </where>
    </sql>
    <!--게시판 게시글 조회-->
    <select id="searchList">
        select id,name,status,email,gender
        from tbl_member
        <include refid="whereCondition"></include>
        order by signup_date DESC
        limit #{page_skip_count}, #{page_size}
    </select>
</mapper>
    