<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.admin.ReportListMapper">
    <sql id="whereCondition">
        <where>
            <if test="search_category != null ">
                <if test="search_category == 'target_type'.toString()">
                    target_type like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'member_id'.toString()">
                    member_id like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'report_status'.toString()">
                    report_status like concat('%', #{search_word}, '%')
                </if>
            </if>
        </where>
    </sql>
    <select id="searchList">
        select id as report_id,target_type, member_id, report_status
        from tbl_report
        <include refid="whereCondition"></include>
        order by id desc
        limit #{page_skip_count}, #{page_size}
    </select>
    <select id="reportTotalCount">
        select count(*)
        from tbl_report
        <include refid="whereCondition"></include>
    </select>
    <delete id="reportDelete">
        delete from tbl_report
        where id = #{report_id}
    </delete>
    <insert id="reportResolution">
        insert into tbl_report_resolution(report_id,admin_id,resolution)
        values(#{report_id}, #{admin_id}, #{resolution}
    </insert>
    <select id="reportDetail">
        select id as report_id, target_id, target_type, reason, created_at
        from tbl_report
        where id = #{report_id}
    </select>
</mapper>
    