<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.admin.TeacherListMapper">
    <sql id="whereCondition">
        <where>
            <if test="search_category != null ">
                <if test="search_category == 'id'.toString()">
                    id like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'name'.toString()">
                    name like concat('%', #{search_word}, '%')
                </if>
                <if test="search_category == 'status'.toString()">
                    status like concat('%', #{search_word}, '%')
                </if>
            </if>
        </where>
    </sql>
    <select id="teacherTotalCount">
        select count(*) AS total_count
        from tbl_teacher
        <include refid="whereCondition"></include>
    </select>
    <select id="searchList">
        select id,name,status,email,gender
        from tbl_teacher
        <include refid="whereCondition"></include>
        order by signup_date DESC
        limit #{page_skip_count}, #{page_size}
    </select>
    <insert id="teacherCreate">
        INSERT INTO tbl_teacher(`id`,`password`, `name`, `birth`, `email`, `gender`, `status`)
        VALUES(#{id}, SHA2(#{password},256), #{name}, #{birth}, #{email}, #{gender}, #{status})
    </insert>
    <update id="teacherChange">
        UPDATE tbl_teacher
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <delete id="teacherDelete">
        delete from tbl_teacher
        where id = #{id}
    </delete>
    <select id="teacherDetail">
        SELECT t.id AS id, t.`name` AS `name`, t.birth AS birth, t.email AS email, t.gender AS gender,
        t.signup_date AS signup_date, t.introduce1 AS introduce1, t.introduce2 AS introduce2, t.introduce3 AS introduce3, t.`status`AS `status`,
        t.file_name AS file_name,
        (SELECT COUNT(*) from tbl_class WHERE teacher_id = t.id) AS totalCountClass
        FROM tbl_teacher AS t
        WHERE t.id=#{id}
    </select>
    <select id="teacherClass">
        SELECT c.id AS class_id, c.target AS target, c.price AS price,
        c.introduce AS introduce, c.notice AS notice,file_name AS file_name,
        c.title AS title , COUNT(p.id) AS pay_count, p.cost, c.teacher_id AS id
        FROM tbl_class AS c
        LEFT JOIN tbl_pay AS p ON c.id = p.class_id AND p.complete = 1
        WHERE c.teacher_id = #{id}
        GROUP BY c.id;
    </select>
</mapper>
    