@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'KakaoSmallSans-Bold';
}
a {
    display:block;
    text-decoration: none;
    color:#222222;
}
ul li {
    list-style-type:none;
}

@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.wrap {
    display: flex;
    margin: 40px auto;
    width:80%; height:850px;
    justify-content: center;
}
.aside {
    display: flex;
    flex-direction: column;
    float:left;
    width:300px; height:100%;
    margin-right: 1%;
}
.myInfo1 {
    width:100%; height:240px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-bottom: 15px;
}
.myInfoHead1 {
    float: left;
    width:100%; height:110px;
    padding:5px 0;
}
.myInfop {
    float:left;
    width:100%; height:100%;
    padding: 0 20px;
}
.myInfop > p {
    display: block;
    width:100%; height:50px;
    line-height:50px;
    font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.myInfop > h2 {
    display: block;
    width:100%; height:50px;
    line-height:30px;
    font-size:19px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.logoutBtn {
    float: left;
    display: flex;
    width:100%; height:30px;
    padding: 5px 0px;
    gap:15px;
    justify-content: center;
}
.logoutBtn > a {
    display: block;
    width:100px;
    height:100%;
    background-color: #d6d6d6b3;
    border: 0.5px solid #a0a0a0b3;
    color:#838383;
    text-align: center;
    line-height:19px;
    font-size:12px;
    font-weight:100;
    border-radius: 2px;

}
.logoutBtn > a:hover {
    background-color: #bbbbbbb3;
}
.myInfoMenu {
    float: left;
    display: flex;
    width:100%; height:calc(100% - 140px);
    gap: 10px;
    padding: 10px 10px 0px 10px;
    justify-content: center;
}
.infoMenu {
    width:80px; height:100%;
}
.infoMenuHead {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; height:60px;
}
.menuBox {
    width:55px; height:55px;
    text-align: center;
    font-size: 15px;
    background-color: none;
    border: 0.5px solid #bbbbbbb3;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-pen, .fa-cart-shopping, .fa-bookmark, .fa-credit-card, .fa-headset {
    font-size: 20px;
    color:#2d3d70;

}
.infoMenuBody {
    width:100%; height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noCnt {
    width:100%; height:100%;
    font-size:11px;
    text-align: center;
    line-height:20px;
}
.cnt1 {
    float:left;
    width:calc(100% - 20px); height:100%;
    font-size:11px;
    text-align: center;
    line-height:20px;
}
.cnt2 {
    float:left;
    width:15px; height:15px;
    text-align: center;
    line-height:17px;
    background-color: #2d3d70;
    border-radius:100%;
    color:#fff;
    font-size:8px;
    font-family: 'LINESeedKR-Bd';
}
.sideMenu {
    width:100%; height:200px;
    background-color: #f1f1f1;
    border-radius: 8px;
}
.sideMenu > a {
    width:100%; height:40px;
    text-align: center;
    line-height:38px;
    font-size:14px;
}
.sideMenu > a:hover {
    background-color: #a4b7ff;
    cursor: pointer;
}

.main {
    width: 60%;
    border-radius: 0 0 5px 5px;
}
    .main > h2 {
        font-size:20px;
        height:30px;
    }
.frm_search {
    display: flex;
    width:60%; height:50px;
    border: 2px solid #d6d6d6b3;
    margin-bottom: 15px;
    border-radius: 5px;
}
.search_condition1 {
    width:60px; height:100%;
    text-align: center;
    border: 0;
}
    .search_condition1:focus {
        border: 2px solid #152da3;
    }
.search_condition1 > option {
    border-radius: 0;
    background-color: #fff;
}
    .search_condition1 > option:focus {
        border: 2px solid #152da3;
    }
.search_condition2 {
    width:60px; height:100%;
    text-align: center;
    border: 0;
}
    .search_condition2:focus {
        border: 2px solid #152da3;
    }
.search_condition2 > option {
    border-radius: 0;
    background-color: #fff;
}
    .search_condition2 > option:focus {
        border: 2px solid #152da3;
    }
.search_condition3 {
    width:60px; height:100%;
    text-align: center;
    border: 0;
}
    .search_condition3:focus {
        border: 2px solid #152da3;
    }
.search_condition3 > option {
    border-radius: 0;
    background-color: #fff;
}
    .search_condition3 > option:focus {
        border: 2px solid #152da3;
    }
.search_word {
    width:100%; height:100%;
    padding-left: 10px;
    border: 0;
}
    .search_word:focus {
        border: 2px solid #92a3ff;
    }
.search_btn {
    width:60px; height:100%;
    border: 0;
}
    .search_btn:hover {
        background-color: #C2C8FDB2;
    }

#course_list_container {
    width:100%; height:100%;
}
.chBtn {
    display: flex;
    width:390px; height:40px;
    margin-bottom: 15px;
    gap: 5px;
}
.chBtn > button {
    width:130px; height:40px;
    border: 2px solid #d6d6d6b3;
    border-radius: 5px;
}
.chBtn > button:hover {
    background-color: #C2C8FDB2;
}
.chBtn > button:focus {
    background-color: #C2C8FDB2;
}
#course_list {
    width:100%;
}
.course {
    width:100%; height:80px;
    margin-bottom: 15px;
    border-bottom: 2px solid #d6d6d6b3;
}
    .course_img {
        float: left;
        display: flex;
        width:70px; height:70px;
        align-items: center;
    }
        .course_img > img {
            width:70px; height:70px;
            text-align: center;
            line-height:48px;
            background-color: #4c5fb4;
        }
.lb2 {
    float: left;
    width:calc(100% - 300px); height:80px;
}
    .lb2 > a {
        width:100%; height:35px;
        line-height:30px;
        padding: 5px 10px;
        font-size:17px;
    }
        .lb2 > a:hover {
            color:#4d6bf1;
        }

        .lb2 > p {
            width:100%; height:20px;
            line-height:18px;
            padding: 0px 10px;
            margin-bottom: 5px;
        }
.course_info {
    display: flex;
    gap:15px;
    padding-left: 10px;
}
.course_introduce {
    font-size:12px;
}
.course_teacher, .course_category, .course_target  {
    font-size:11px;
}

.lb3 {
    float: right;
    width:200px; height:80px;
}
    .lb3 > p {
        float: left;
        width:calc(100% - 120px); height:80px;
        text-align: center;
        line-height:78px;
    }
.buyBtn {
    float: left;
    display: flex;
    width:120px; height:80px;
    background-color: none;
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: end;
}
.buyBtn > a {
    display: flex;
    float: right;
    width:40px; height:40px;
    font-size: 17px;
    color:#e4e4e4;
    background-color: #4d6bf1;
    border: none;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
    .buyBtn > a:hover {
        color:#777777;
        background-color: #2240c4;
        border: none;
        border-radius: 70%;
    }
    .buyBtn > a > i {
        color:#fff;
    }
.buyBtn > p {
    display: flex;
    float: right;
    width:40px; height:40px;
    font-size: 17px;
    color: #424242;
    background-color: #959595;
    border: none;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.noDataPage {
    width:100%; height:100%;
    position: relative;
    border-radius: 5px;
}
.noDataPage > h2 {
    display: flex;
    width:100%; height:100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size:42px;
}
.noDataPage > img {
    width:100%; height:100%;
    position: absolute;
    opacity: 0.3;
    border-radius: 5px;
}
#paging_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    width:100%; height:30px;
}
.pNum {
    display: flex;
    align-items: center;
    justify-content: center;
    width:25px; height:25px;
    background-color: #d3d3d3;
    border-radius: 5px;
}


@media (max-width: 1365px) {
    .wrap {
        width:90%; height:100%;
        flex-direction: column;
        margin: 20px auto;
    }
    .aside {
        margin: 0 auto;
        width:80%; height:60%;
    }

    .main {
        height:40%;
    }
    .frm_search {
        width:100%;
    }
}
@media (max-width: 1100px) {

}
@media (max-width: 800px) {
    .wrap {
        height:100%;
    }
    .logo > img {
        width:100%;
        height:200px;
    }
    .course_img {
        display: none;
    }
    .course_body {
        width:90%;
    }
    .course_ls {
        width:120px;
    }
}