@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'KakaoSmallSans-Bold';
}
a {
    display:block;
    text-decoration: none;
    color:#222222;
}
ul li {
    list-style-type:none;
}

@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.wrap {
    display: flex;
    margin: 40px auto;
    width:80%; height:850px;
}
    .aside {
        float:left;
        width:500px; height:100%;
        margin-right: 1%;
    }
        .myInfo {
            display: flex;
            align-items: center;
            width:100%; height:120px;
            background-color: #f1f1f1;
            border-radius: 8px;
            margin-bottom: 15px;
            justify-content: center;
        }
            .myInfoHead {
                float: left;
                width:100%; height:110px;
                padding:5px 0;
            }
                .radiusProfile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    float:left;
                    width:130px; height:100%;
                    padding-left: 15px;
                }
                    .radiusProfile > span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:90px; height:90px;
                        border-radius:70%;
                        overflow: hidden;
                        object-fit: cover;
                        border:3px solid #7f91e2;
                    }
            .myInfop {
                float:left;
                flex:80%; height:100%;
                padding-left: 20px;
            }
                .myInfop > p {
                    display: flex;
                    align-items: end;
                    width:100%; height:50%;
                    line-height:50px;
                    font-size:16px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                .myInfop > h2 {
                    display: flex;
                    align-items: start;
                    width:100%; height:50%;
                    line-height:30px;
                    font-size:16px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
            .logoutBtn {
                float: left;
                display: flex;
                flex-direction: column;
                width:100%; height:30px;
                padding: 5px 0px;
                align-items: center;
                gap:15px;
                justify-content: center;
            }
                .logoutBtn > a {
                    display: block;
                    width:100px;
                    height:100%;
                    background-color: #d6d6d6b3;
                    border: 0.5px solid #a0a0a0b3;
                    color:#838383;
                    text-align: center;
                    line-height:19px;
                    font-size:12px;
                    font-weight:100;
                    border-radius: 2px;
                }
                    .logoutBtn > a:hover {
                        background-color: #bbbbbbb3;
                    }
.cartList {
    width:100%; height:50%;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}
    .clTit {
        width:100%; height:30px;
        background-image: linear-gradient(to right, #1f3691, #2757c1, #6b86d8);
        text-align: center;
        border-radius: 3px;
        line-height:28px;
        font-size:12px;
        margin-bottom: 15px;
        color:#fff;
    }
    .buyy {
        width:100%;height:90%;
        text-align: center;
        align-content: center;
        justify-content: center;
        overflow: scroll;
    }
    .notBuy {
        display: none;
        width:100%;height:90%;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
        .notBuy > p {
            width:100%; height:30px;
        }
    .cart {
        width:100%; height:110px;
        background-color: #2b4eed;
    }
        .cartTit1 {
            float: left;
            width:100%; height:40px;
            background-color: #2d3d70;
        }
        .cartTit2 {
            width:100%; height:50px;
            background-color: #32be8f;
        }
        .cartInfo {
            width:100%; height:20px;
        }
            .cartPrice {
                float:left;
                width:150px; height:100%;
            }
.cartHap {
    display: flex;
    width:100%; height:60px;
    background-color: #A0A7EFB2;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid #858585;
}
    .hapP {
        display: flex;
        justify-content: start;
        align-items: center;
        width:50%; height:100%;
        padding-left: 20px;
        font-size:17px;
    }
    #total_price {
        display: flex;
        align-items: center;
        width:50%; height:100%;
        justify-content: end;
        padding-right: 20px;
    }
.cartBtn {
    display: flex;
    width:100%; height:50px;
}
    #purchase_btn {
        width:50%; height:100%;
        outline: none;
        border:0;
        text-align: center;
        font-size:17px;
    }
        #purchase_btn:hover {
            cursor: pointer;
            background-color: #9aa4ca;
        }
    #wishlist_btn {
        width:50%; height:100%;
        outline: none;
        border:0;
        text-align: center;
        font-size:17px;
    }
        #wishlist_btn:hover {
            cursor: pointer;
            background-color: #9aa4ca;
        }
.main {
    width: 100%; height:70%;
    border-radius: 0 0 5px 5px;
}
    .frm_search {
        display: flex;
        width:60%; height:50px;
        border: 2px solid #d6d6d6b3;
        margin-bottom: 15px;
        border-radius: 5px;
    }
        .search_condition1 {
            width:60px; height:100%;
            text-align: center;
            border: 0;
        }
            .search_condition1:focus {
                border: 2px solid #152da3;
            }
                .search_condition1 > option {
                    border-radius: 0;
                    background-color: #fff;
                }
                .search_condition1 > option:focus {
                    border: 2px solid #152da3;
                }
        .search_condition2 {
            width:60px; height:100%;
            text-align: center;
            border: 0;
        }
            .search_condition2:focus {
                border: 2px solid #152da3;
            }
                .search_condition2 > option {
                    border-radius: 0;
                    background-color: #fff;
                }
                .search_condition2 > option:focus {
                    border: 2px solid #152da3;
                }
        .search_condition3 {
            width:60px; height:100%;
            text-align: center;
            border: 0;
        }
            .search_condition3:focus {
                border: 2px solid #152da3;
            }
                .search_condition3 > option {
                    border-radius: 0;
                    background-color: #fff;
                }
                .search_condition3 > option:focus {
                    border: 2px solid #152da3;
                }
        .search_word {
            width:100%; height:100%;
            padding-left: 10px;
            border: 0;
        }
            .search_word:focus {
                border: 2px solid #92a3ff;
            }
        .search_btn {
            width:60px; height:100%;
            border: 0;
        }
            .search_btn:hover {
                background-color: #C2C8FDB2;
            }

    #course_list_container {
        width:100%; height:100%;
    }
        .chBtn {
            display: flex;
            width:390px; height:40px;
            margin-bottom: 15px;
            gap: 5px;
        }
            .chBtn > button {
                width:130px; height:40px;
                border: 2px solid #d6d6d6b3;
                border-radius: 5px;
            }
            .chBtn > button:hover {
                background-color: #C2C8FDB2;
            }
            .chBtn > button:focus {
                background-color: #C2C8FDB2;
            }
        #course_list {
            width:100%; height:650px;
        }
            .course {
                display: flex;
                width:100%; height:120px;
                align-items: center;
                justify-content: center;
                gap:15px;
                padding:10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #d6d6d6b3;
            }
                .course_img {
                    width:100px; height:100px;
                    background-color: rgba(87,239,80,0.7);
                    border:3px solid #7f91e2;
                }
                .course_body {
                    width:calc(90% - 130px); height:100px;
                }
                    .course_cont {
                        width:100%; height:50px;
                    }
                        .course_title {
                            width:100%; height:30px;
                            line-height:28px;
                            font-size:16px;
                        }
                        .course_introduce {
                            width:100%; height:30px;
                            line-height:18px;
                            font-size:14px;
                        }
                    .course_info {
                        display: flex;
                        width:100%; height:50px;
                        gap:25px;
                        font-size:12px;
                        line-height:48px;
                    }
                    .course_ls {
                        height:100%;
                    }
                        .course_price {
                            height:40px;
                            text-align: center;
                            line-height:48px;
                        }
                    .course_btn {
                        display: flex;
                        flex-direction: row;
                        align-items: end;
                        gap: 15px;
                        width:100%; height:60px;
                        padding-bottom: 13px;
                    }
                        .course_btn > button {
                            width:100px; height:30px;
                            background-color: #d6d6d6b3;
                            border: 0.5px solid #a0a0a0b3;
                            color:#838383;
                            border-radius: 5px;
                        }
                        .course_btn > button:hover {
                            cursor: pointer;
                            background-color: #C2C8FDB2;
                        }
            .noDataPage {
                width:100%; height:100%;
                position: relative;
                border-radius: 5px;
            }
                .noDataPage > h2 {
                    display: flex;
                    width:100%; height:100%;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    font-size:42px;
                }
                .noDataPage > img {
                    width:100%; height:100%;
                    position: absolute;
                    opacity: 0.3;
                    border-radius: 5px;
                }
        #paging_block {
            display: flex;
            align-items: center;
            justify-content: center;
            gap:10px;
            width:100%; height:30px;
        }
            .pNum {
                display: flex;
                align-items: center;
                justify-content: center;
                width:25px; height:25px;
                background-color: #d3d3d3;
                border-radius: 5px;
            }


@media (max-width: 1365px) {
    .wrap {
        width:90%; height:100%;
        flex-direction: column;
        margin: 20px auto;
    }
    .aside {
        margin: 0 auto;
        width:80%; height:60%;
    }

    .main {
        height:40%;
    }
    .frm_search {
        width:100%;
    }
}
@media (max-width: 1100px) {

}
@media (max-width: 800px) {
    .wrap {
        height:100%;
    }
    .logo > img {
        width:100%;
        height:200px;
    }
    .course_img {
        display: none;
    }
    .course_body {
        width:90%;
    }
}