<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssanai.jumplearn.mapper.bbs.BbsFileMapper">

    <insert id="fileUpload"
        parameterType="com.ssanai.jumplearn.dto.BbsFileDTO"
        useGeneratedKeys="true"
        keyProperty="id"
        keyColumn="id">
        INSERT INTO tbl_bbs_file (
            file_path, file_name, file_size, file_ext, related_table, related_id, created_at
        ) VALUES (
              #{filePath}, #{fileName}, #{fileSize}, #{fileExt}, #{relatedTable}, #{relatedId}, NOW()
                 )
        </insert>

</mapper>
