<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssanai.jumplearn.mapper.bbs.BbsMapper">
    <sql id="whereCondition">
        <where>
            <if test="dto.search_category != null ">
                <if test="dto.search_category == 'title'.toString()">
                    title like concat('%', #{dto.search_word}, '%')
                </if>
                <if test="dto.search_category == 'content'.toString()">
                    content like concat('%', #{dto.search_word}, '%')
                </if>
                <if test="dto.search_category == 'admin_id'.toString()">
                    admin_id like concat('%', #{dto.search_word}, '%')
                </if>
                <if test="dto.search_category == 'created_at'">
                    <![CDATA[
                    created_at BETWEEN CONCAT(#{dto.search_date_from},' 00:00:00') AND CONCAT(#{dto.search_date_to},' 23:59:59' )
                    ]]>
                </if>
            </if>
        </where>
    </sql>

    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as total_count
        FROM ${table_name}
        <include refid="whereCondition"></include>
    </select>

    <select id="listAll">
        SELECT `id`, `title`,`content`,`created_at`,`updated_at`,`view_count`,`admin_id`
        FROM ${table_name}
        <include refid="whereCondition"></include>
        ORDER BY id DESC
        Limit #{dto.page_skip_count} , #{dto.page_size}
        <!--TODO Order by 추후 추가 필요 -->
    </select>

    <select id="selectOne" resultType="com.ssanai.jumplearn.vo.BbsDefaultVO">
        SELECT `id`, `title`,`content`,`created_at`,`updated_at`,`view_count`,`admin_id`
        FROM ${table_name}
        WHERE `id` = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="vo.id" keyColumn="id">
        INSERT INTO ${table_name} (`admin_id`, `title`, `content`, `created_at`, `updated_at`)
        VALUES (#{vo.admin_id}, #{vo.title}, #{vo.content}, NOW(), null)
    </insert>

    <update id="update">
        UPDATE ${table_name}
        SET `title`=#{vo.title}, `content`=#{vo.content},`updated_at`= NOW()
        WHERE `id` = #{vo.id}
    </update>

    <delete id="delete">
        DELETE FROM ${table_name}
        WHERE `id` = #{id}
    </delete>

    <select id="searchList">
        SELECT `id`, `title`,`content`,`created_at`,`updated_at`,`view_count`,`admin_id`
        FROM ${table_name}
        <include refid="whereCondition"></include>
        ORDER BY id desc
        Limit #{dto.page_skip_count} , #{dto.page_size}
    </select>

    <update id="viewCount">
        UPDATE ${table_name}
        SET `view_count` = `view_count` + 1
        WHERE `id` = #{id}
    </update>
</mapper>
