<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.bbs.EduFileMapper">
    <insert id="eduFileUpload" parameterType="map">
        INSERT INTO tbl_edu_file
        (file_id, edu_id)
        VALUES
        (#{file_id}, #{edu_id})
    </insert>

    <delete id="eduDelete">
        DELETE FROM tbl_edu_file
        WHERE `edu_id` = #{id}
    </delete>
</mapper>
