<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssanai.jumplearn.mapper.comment.PostCommentMapper">
    <select id="getPostCommentList" resultType="com.ssanai.jumplearn.vo.PostCommentVO">
        select id, post_id, content, created_at, updated_at
        from tbl_post_comment
        where member_id = #{member_id}
        <if test="dto.search_word != null">
            and content like concat('%', #{dto.search_word}, '%')
        </if>
        order by
        <choose>
            <when test="dto.sort_order == 'recent'">
                created_at DESC
            </when>
            <when test="dto.sort_order == 'chars'">
                content DESC
            </when>
            <otherwise>
                id DESC
            </otherwise>
        </choose>
        LIMIT #{dto.page_skip_count}, #{dto.page_size}
    </select>

    <select id="getPostCommentCount">
        select count(*)
        FROM tbl_post_comment p
        WHERE p.member_id = #{member_id}
        <if test="dto.search_word != null">
            and p.content like concat('%', #{dto.search_word}, '%')
        </if>
    </select>
</mapper>
 