@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing:border-box;
}
@font-face {
    font-family: 'PyeojinGothic-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #F4F4F4;
    font-family: 'PyeojinGothic-Bold';
}
.wrap {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 30% 40%);
    margin:30px auto;
    width:650px; height:100vh;
}
.wrap > header {
    position:relative;
    width:100%;
    grid-column:1/3;
}
.header_logo {
    float:left;
    width:100%; height:100%;
    border-radius: 8px 8px 0 0;
}
.header_comment {
    float:left;
    width:100%; height:30%;
    text-align: center;
    line-height:22px;
    color: #333;
}
.wrap > main {
    float:left;
    width:650px;
    grid-column:2/3;
    border: 1px solid #d6d6d6b3 ;
    border-radius: 0 0 8px 8px;
}
.login_content{
    text-align: center;
}
.login_form {
    width: 100%;
    padding:5%;

}
.login_content .input_div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.login_content .input_div.one {
    margin-top: 0;
}
.i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    transition: .3s;
}
.input_div > div{
    position: relative;
    height: 45px;
}
.input_div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}
.input_div:before, .input_div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #4d6bf1;
    transition: .4s;
}
.input_div:before {
    right: 50%;
}
.input_div:after {
    left: 50%;
}
.input_div.focus:before, .input_div.focus:after {
    width: 50%;
}
.input_div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input_div.focus > .i > i {
    color: #4d6bf1;
}

.input_div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}
.input_div.pass {
    margin-bottom: 4px;
}
#togglePassword {
    position:relative;
    border: none;
    float:right;
    left:0%; top:18%;
    width:30px; height:30px;
    background-color:transparent;
}
a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
a:hover {
    color: #4d6bf1;
}
.save_id {
    width:100%; height:30px;
    padding: 5px 10px;
}
.save_id > p {
    float: left;
    color:#999;
}
.save_id > input {
    float: left;
    width:13px; height:20px;
    margin-left: 5px;
}
.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #4c5fb4, #4d6bf1, #2b4eed);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn:hover {
    background-position: right;
}
.login_btn {
    width:60%; height:40px;
    background-color: #4d6bf1;
    color:#FFFFFF;
    font-weight:bold;
    font-size:18px;
    border:0px;
    border-radius: 3px;
}
.login_btn:hover {
    background-color:#4d6bf1;
    color:#242424;
}
.regi_chgpwd_div {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.regi_chgpwd_div > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
.regi_chgpwd_div > a:hover {
    color: #4d6bf1;
}
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .wrap > header {
        display:block;
        width:100%; height:20%;
    }
    .header_logo {
        width:100%; height:70%;
    }
    .main {
        width:100%;
    }
    .login_content .input_div {
        position: relative;
        display: block;
        width:100%;
        margin: 25px 0;
        padding: 5px 0;
        border-bottom: 2px solid #d9d9d9;
    }
    .login_content .input_div.one {
        margin-top: 0;
    }
    .i{
        color: #d9d9d9;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .i i{
        transition: .3s;
    }
    .input_div > div{
        position: relative;
        height: 45px;
    }
    .input_div > div > h5{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size: 18px;
        transition: .3s;
    }
    .input_div:before, .input_div:after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background-color: #38d39f;
        transition: .4s;
    }
    .input_div:before {
        right: 50%;
    }
    .input_div:after {
        left: 50%;
    }
    .input_div.focus:before, .input_div.focus:after {
        width: 50%;
    }
    .input_div.focus > div > h5 {
        top: -5px;
        font-size: 15px;
    }

    .input_div.focus > .i > i {
        color: #38d39f;
    }

    .input_div > div > input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: none;
        padding: 0.5rem 0.7rem;
        font-size: 1.2rem;
        color: #555;
        font-family: 'poppins', sans-serif;
    }
    .input_div.pass {
        margin-bottom: 4px;
    }
    #togglePassword {
        position:relative;
        border: none;
        float:right;
        left:0%; top:18%;
        width:30px; height:30px;
        background-color:transparent;
    }
    a {
        display: block;
        text-align: right;
        text-decoration: none;
        color: #999;
        font-size: 0.9rem;
        transition: .3s;
    }
    a:hover {
        color: #38d39f;
    }
    .save_id {
        width:100%; height:30px;
        padding: 5px 10px;
    }
    .save_id > p {
        float: left;
        color:#999;
    }
    .save_id > input {
        float: left;
        width:13px; height:20px;
        margin-left: 5px;
    }
    .btn {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
        background-size: 200%;
        font-size: 1.2rem;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
    }
    .btn:hover {
        background-position: right;
    }
    .login_btn {
        width:60%; height:40px;
        background-color: #32e06c;
        color:#FFFFFF;
        font-weight:bold;
        font-size:18px;
        border:0px;
        border-radius: 3px;
    }
    .login_btn:hover {
        background-color:#00802b;
        color:#242424;
    }
    .regi_chgpwd_div {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

    }
    .regi_chgpwd_div > a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #999;
        font-size: 0.9rem;
        transition: .3s;
    }
    .regi_chgpwd_div > a:hover {
        color: #38d39f;
    }
}