<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssanai.jumplearn.mapper.member.MemberMyPageMapper">
    <select id="memberMyPageInfo" resultType="com.ssanai.jumplearn.dto.MemberDTO">
        SELECT
        id, `name`, birth, email, grade, gender, file_name
        FROM tbl_member
        WHERE id=#{id}
    </select>
    <update id="memberMyPageUpdate">
        UPDATE tbl_member
        SET birth = #{birth},
        name = #{name},
        file_name = #{file_name},
        file_path = #{file_path},
        file_size = #{file_size},
        file_ext = #{file_ext}
        WHERE id = #{id}
    </update>
    <delete id="memberMyPageDelete">
        UPDATE tbl_member
        SET status = 3
        WHERE id = #{id}
    </delete>
    <select id="PostMyPageInfo">
        SELECT id, title, member_id, created_at, view_count
        FROM tbl_post
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="noticeMyPageInfo">
        SELECT id, title, admin_id, created_at, view_count
        FROM tbl_notice
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="eduMyPageInfo">
        SELECT id, title, admin_id, created_at, view_count
        FROM tbl_edu
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="infoMyPageInfo">
        SELECT id, title, admin_id, created_at, view_count
        FROM tbl_info
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="activityMyPageInfo">
        SELECT id, title, admin_id, created_at, view_count
        FROM tbl_activity
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="libMyPageInfo">
        SELECT id, title, admin_id, created_at, view_count
        FROM tbl_lib
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="newsMyPageInfo">
        SELECT id, title, admin_id, created_at, view_count
        FROM tbl_news
        WHERE created_at BETWEEN NOW() - INTERVAL 1 DAY AND NOW()
        ORDER BY view_count DESC
        LIMIT 1;
    </select>
    <select id="reportList" resultType="com.ssanai.jumplearn.dto.ReportDTO">
        SELECT
        tr.id AS 'report_id', tr.target_id AS 'target_id', tr.target_type AS 'target_type', tr.member_id AS 'member_id',
        tr.reason AS 'reason', tr.created_at AS 'created_at', tr.report_status AS 'report_status',
        tp.title AS 'reported_title', tp.member_id AS 'reported_member_id'
        FROM tbl_report AS tr
        INNER JOIN tbl_post AS tp ON tr.target_id = tp.id
        WHERE tr.member_id = #{member_id};
    </select>
</mapper>
    