@charset "utf-8";
* {
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: 'KakaoSmallSans-Bold';
}
a {
    display:block;
    text-decoration: none;
    color:#222222;
}
ul li {
    list-style-type:none;
}

@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.wrap {
    margin: 0 auto;
    width:60%; height:850px;
}
.main {
    float:left;
    width:100%; height:100%;
}
    .userInfo {
        float: left;
        width:100%; height:500px;
    }
        .userInfoTit {
            display: flex;
            width:100%; height:50px;
            font-size:14px;
            padding:0 15px 15px 15px;
            align-items: end;
            border-bottom: 2px solid #d6d6d6b3;
        }
        .userInfoCont {
            width:100%;
            display:flex;
            align-items: center;
            border-bottom: 2px solid #d6d6d6b3;
        }
            .userProfile {
                display:flex;
                float: left;
                align-items: end;
                justify-content: center;
                flex-direction: column;
                width:300px; height:300px;
            }
                .radiusProfile2 {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:215px; height:200px;
                    padding-left: 15px;
                }
                    .radiusProfile2 > img {
                        width:200px; height:200px;
                        border-radius:90%;
                        overflow: hidden;
                        object-fit: cover;
                        border:5px solid #5363f8b3;
                    }
            .userInfoP {
                float: left;
                display:flex;
                align-items: end;
                flex-direction: column;
                margin-left: 30px;
                width:calc(100% - 330px); height:100%;
            }
                .userTable {
                    width:100%; height:calc(100% - 30px);
                    padding:10px 55px;
                }
                    .lfTd {
                        text-align: left;
                        font-size:16px;
                        margin-bottom: 10px;
                        height: 30px;
                    }
                    .rtTd {
                        text-align: right;
                        font-size:14px;
                    }
                .introduceBox {
                    display: flex;
                    padding:0 55px;
                    width:100%; height:120px;
                    align-items: center;
                    margin-bottom: 15px;
                }
                    .lfTd2 {
                        flex:50%; height:40px;
                        line-height:38px;
                    }
                    .rtTdBox {
                        display: flex;
                        align-items: end;
                        flex-direction: column;
                        justify-content: center;
                        flex:50%; height:120px;
                    }
                    .rtTd2 {
                        flex: 50%; height:40px;
                        font-size:14px;
                        line-height:38px;
                    }
                .tbA {
                    display: flex;
                    width:100%; height:30px;
                    gap:15px;
                    justify-content: end;
                    padding-right: 40px;
                    margin-bottom: 25px;
                }
                    .tbA > a {
                        width:130px; height:30px;
                        background-color: #d6d6d6b3;
                        border: 0.5px solid #a0a0a0b3;
                        color:#838383;
                        text-align: center;
                        line-height: 28px;
                        border-radius: 3px;
                        font-size:12px;
                    }
                        .tbA > a:hover {
                            background-color: #bbbbbbb3;
                        }
.todayBest {
    float: left;
    width:100%; height:calc(100% - 380px);
}
    .boardBox {
        width:100%; height:100%;
        display: flex;
        gap:20px;
        flex-direction: column;
    }
        .boardTit {
            display: flex;
            width:100%; height:50px;
            font-size:14px;
            padding:0 15px 15px 15px;
            align-items: end;
            border-bottom: 2px solid #d6d6d6b3;
        }
        .boardLine1 {
            width:100%; height:400px;
            border-bottom: 2px solid #d6d6d6b3;
        }
                .tbH1 {
                    display: flex;
                    text-align: center;
                    line-height:38px;
                    width:100%; height:40px;
                    background-color: #d6d6d6b3;
                    color:#838383;
                }
                .tbB1 {
                    display: flex;
                    line-height:68px;
                    width:100%;
                    height:70px;
                    font-size:16px;
                    color:#3b3a3a;
                    text-align: center;
                }
                .tbB1:nth-child(odd) {
                    background-color: #e1e7ff;
                }
                    .tbImg {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:10%;
                        border-radius: 3px;
                    }
                        .tbImg > img {
                            width:60px; height:60px;
                            border: 4px solid #d6d6d6b3;
                            border-radius: 15%;
                        }
                    .tbTit {
                        width:50%;
                        border-radius: 3px;
                    }
                        .tbTit > a {
                            color:#3b3a3a;
                            width:400px; height:100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin: 0 auto;
                        }
                        .tbTit > a:hover {
                            color:#607ffc;
                        }
                    .tbDate {
                        width:20%;
                        border-radius: 5px;
                    }
                    .tbUserCnt {
                        width:10%;
                        border-radius: 5px;
                    }
                        .tbUserCnt > a:hover {
                            color:#607ffc;
                        }
                    .tbScore {
                        width:10%;
                        border-radius: 5px;
                    }


@media (max-width:1658px) {
    .bs3 {
        display: none;
    }
}
@media (max-width: 1480px) {
    .wrap {
        width:90%;
        flex-direction: column;
        margin: 20px auto;
    }
    .aside {
        width:100%; height:350px;
        flex-direction: row;
        margin: 40px 0;
    }
    .myInfo1 {
        width:400px;
    }
    .myInfo1, .myInfo2, .myInfo3 {
        height:100%;
    }
    .myInfo2, .myInfo3 {
        width:400px;
        margin-top:0;
        margin-left: 10px;
    }
    .myInfoHead1 {
        margin-top: 40px;
    }
    .myInfoMenu {
        float: left;
        width:100%; height:calc(100% - 250px);
    }
    .logoutBtn > a {
        min-width: 80px;
    }
    .myStudy {
        display: none;
    }
    .testTitle {
        width:70%; height:45px;
    }
    .testTitle > h2 {
        float: left;
        display: flex;
        align-items: center;
        width: 100%; height:100%;
        text-align: left;
        padding-left: 15px;
        font-size: 12px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    .testSc {
        width:30%;
    }
    .main {
        width:100%;
    }
    .todayBest {
        display: block;
    }
    .bs3 {
        display: block  ;
    }
    .myInfo2 {
        width:100%;
    }
    .myInfo3 {
        display:none;
    }
}
@media (max-width: 1100px) {
   .boardLine2 {
        display:none;
    }
}
@media (max-width: 800px) {
    .wrap {
        height:800px;
    }
    .header  {
        width:90%;
        flex-direction: column;
    }
    .mainmenu  {
        width:100%;
        flex-direction: column;
        margin-bottom: 20px;
        gap:0;
    }
    .mainmenu > li {
        width:100%;
    }
    .mainmenu > li > a {
        width:100%;
        text-align: center;
    }
    .lsMenu {
        border-radius: 0 0 0 0;
        border:none;
    }
    .mainmenu > li:hover {
        background-color: #a2b3ff;
    }
    .submenu > li > a {
        border:none;
    }
    .logo > img {
        width:100%;
        height:200px;
    }
    .aside {
        flex-wrap: wrap;
        height:400px;
        gap:0;
        margin: 0;
        margin-bottom: 50px;
    }
    .myInfo1 {
        width:100%; height:300px;
    }
    .myInfoMenu {
        height:100px;
    }
    .myInfo2, .myInfo3 {
        width:100%;
        height:300px;
        margin: 0;
        margin-bottom: 10px;
    }
    .logoutBtn > a {
        max-width: 120px;

    }
    .myInfoBody {
        width:100%; height:270px;
        background-color: #f1f1f1;
        border-radius: 0 0 7px 7px;
    }
    .myInfoMenu {
        align-items: center;
        justify-content: center;
    }
    .main {
        width:100%; height:600px;
    }
    .userInfo {
        height:600px;
    }
    .todayBest {
        display: none;
    }
    .userTable {
        padding: 0 10px;
    }
    .userProfile {
        align-items: center;
        width:100%;
    }
    .userInfoCont {
        margin-top: 30px;
    }
    .userInfoP {
        width:80%;
    }
    .userInfoCont {
        flex-direction: column;
    }
    .tbA {
        padding: 0;
    }
}